body {
    color: #322;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.container {
    width: 70%;
    margin: auto;
    border: 1px solid #335;
}

.post {
    margin: 50px;
}